.container-log {
	display: flex;
	align-items: center;
	height: 100vh;
}

.w-half {
	width: 50%;
}
/* 
img {
	height: 15rem;
	width: 15rem;
	margin: 0px auto;
}

.bg {
	background-color: #0080ff;
} */

.center {
	width: 100% !important;
	margin: 0 auto !important;
}

.auth-bg {
	height: 20rem;
}

.left {
	background-color: #0080ff;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button {
	background-color: #0080ff !important;
	border-radius: 10px !important;
	border: none !important;
}

.forgot {
	text-align: end;
	padding: 5px;
}

.forgot a {
	color: black;
	text-decoration: none;
}
